@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;  
    border: none;  
}

html{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.circle {
    height: 125px;
    width: 125px;
    background-color: rgb(2, 44, 85);
    border-radius: 50%;
    position: relative;
}

.gamePlay{
    height: calc(100vh - 250px);
    width: 100%;
}

.logo{
    margin: 0 50%;
    height: 30px;
    width: 30px;
    max-width: 100%;
}

body{
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(200,200,200,1);
}
  

.heading{
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 40px;
    color: rgb(2, 44, 85);
}

.instructions{
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
    margin-top: 20px;
    color: rgb(2, 44, 85);
    size: 80px;
    margin-left: 30px;
    margin-right: 30px;
}
  
.container{
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerTwo{
    margin-top: 10px;   
    display: flex;
    align-items: center;
    justify-content: center;
}

#button, #buttonHard{
    color: rgb(2, 44, 85);
    border: 4px solid rgb(2, 44, 85);;
    border-radius: 50px;
    padding: 9px 0;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    position: inherit;
    width: 300px;
    height: 60px;
}
  
.score{
    font-family: 'Press Start 2P', sans-serif;
    font-size: 20px;
    color: rgb(2, 44, 85);
    text-align: center;
    margin-bottom: -40px;
}

.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin-bottom: 50px;
}
 
  
  
  
 
  
